@import "tailwindcss";
@layer base {
  html {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-white text-gray-900;
  }
  
  ::selection {
    @apply bg-blue-700 text-white;
  }
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.6s ease-out forwards;
}



  .custom-scrollbar::-webkit-scrollbar{
    width: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb{
    background-color: rgba(100,100,100,0.3);
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-track{
    background:transparent;
  }


  .input-box{
    @apply w-full flex justify-between gap-3 text-sm text-black bg-gray-50/50 rounded px-4 py-4 mb-4 mt-3 border border-gray-100 outline-none focus-within:border-orange-300;
  }

  .btn-primary{
    @apply w-full flex items-center justify-center gap-3 text-sm font-medium text-white bg-black shadow-lg shadow-orange-600/5 p-[10px] rounded-md my-1 hover:bg-orange-600/15 hover:text-black cursor-pointer;
  }

  .btn-small{
    @apply flex items-center justify-center gap-3 bg-linear-to-r from-[#ff9324] to-[e99a4b] text-sm font-semibold text-white px-7 py-2 rounded-lg hover:bg-black hover:text-white transition-colors cursor-pointer hover:shadow-2xl hover:shadow-orange-300;
  }